/3_Semestre/Programação Orientada a Objeto/ADO1POO/target/
/3_Semestre/Programação Orientada a Objeto/ADO2POO/target/
/3_Semestre/Estrutura de Dados/EstruturaDeDadosADO1/target/
/3_Semestre/Estrutura de Dados/ListaSimplesmenteEncadeada/target/
/4_Semestre/Arquitetura de Software/website/nbproject/private/
/4_Semestre/Arquitetura de Software/website/build/
/4_Semestre/Arquitetura de Software/website/dist/
/4_Semestre/Arquitetura de Software/WebSITEE/nbproject/private/
/4_Semestre/Arquitetura de Software/WebSITEE/build/
/4_Semestre/Arquitetura de Software/WebSITEE/dist/
/4_Semestre/Arquitetura de Software/websiteNovo/nbproject/private/
/4_Semestre/Arquitetura de Software/websiteNovo/build/
